/* ***** MAIN LAYOUT ***** */

* {
  font-family: 'Righteous', cursive;
}

body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: url("./assets/mario-luigi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


/* ***** FONT COLORS & BACKGROUND COLORS ***** */

.player-space {
  background-color: transparent;
}

h1 {
  color: #FFFFFF;
}

.main-game-container {
  background-color: transparent;
}

.space {
  background-color: #DC7179;
}

/* ***** GAME LAYOUT ***** */

.player-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.player-one-score,
.player-two-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 115%;
  background: #D96067;
  border-radius: 200px;
  opacity: 0.9;
}

#player-one,
#player-two {
  display: flex;
  flex-direction: column;
  width: 14.5vw;
  margin-bottom: auto;
}

.luigi-first-player,
.mario-second-player {
  height: 150px;
  width: 150px;
}

h1 {
  font-size: 3em;
  text-shadow: 15px 15px 25px #DA8A97;
}

.main-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  text-shadow: 15px 15px 25px #DC7179;
  font-size: 90px;
}

.game {
  display: grid;
  justify-content: center;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 160px 160px 160px;
  margin-top: 10px;
  text-align: center;
  border: 3px solid #E3838F;
}
.space {
  display: grid;
  justify-content: center;
  border-top: 2px solid #DA8A97;
  border-bottom: 2px solid #DA8A97;
  border-left: 2px solid #DA8A97;
  border-right: 2px solid #DA8A97;
  opacity: 0.8;
}
