html {
  color: white;
  font-family: "Righteous", cursive;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

body {
  background-image: url("./assets/mario-luigi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

h1 {
  text-shadow: 3px 8px 15px #d07f8c;
}

.player-box {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 6rem;
  width: 6rem;
}

#player-one,
#player-two {
  padding: 3rem;
}

.player-one-score,
.player-two-score {
  background-color: #d96067;
  border-radius: 1rem;
  padding: 4rem;
  font-size: 1.5rem;
}

.player-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-msg-box {
  background-color: #da8a97;
  border: 0.5rem solid #d96067;
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  text-align: center;
}

.title {
  font-size: 5rem;
  text-shadow: 15px 15px 25px #dc7179;
}

.game {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  justify-content: center;
  padding: 5rem;
}

.space {
  align-items: center;
  background-color: #dc7179;
  border-bottom: 0.25rem solid #da8a97;
  border-left: 0.25rem solid #da8a97;
  border-right: 0.25rem solid #da8a97;
  border-top: 0.25rem solid #da8a97;
  display: grid;
  justify-items: center;
  opacity: 0.8;
}

@media (max-width: 844px) {
  .mario-second-player,
  .luigi-first-player {
    height: 2rem;
    width: 2rem;
  }

  .icon {
    height: 5rem;
    width: 5rem;
  }

  .title {
    font-size: 2rem;
  }

  .player-one-score,
  .player-two-score {
    padding: 2rem;
  }

  .game {
    padding: 1rem;
    grid-template-columns: 3.5rem 3.5rem 3.5rem;
    grid-template-rows: 3.5rem 3.5rem 3.5rem;
  }
}

@media (max-width: 430px) {
  html {
    margin: 0;
  }
  .player-box {
    justify-content: flex-start;
  }

  .title-and-msg-box {
    height: 9rem;
    width: 9rem;
  }

  .title {
    font-size: 2rem;
    margin: 0;
  }

  .players-turn {
    margin-right: -0%;
    margin-top: 2rem;
    font-size: 0.7rem;
  }

  .player-one-score,
  .player-two-score {
    padding: 2rem;
  }

  #player-one,
  #player-two {
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  html {
    overflow: hidden;
  }

  body {
    background-size: cover;
    height: 100vh;
  }

  .game {
    grid-template-columns: 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .icon {
    height: 4rem;
    width: 4rem;
  }

  .players-turn {
    margin-top: -1.5rem;
  }

  .player-one-score,
  .player-two-score {
    padding: 2rem;
  }
}

@media (max-width: 360px) {
  .players-turn {
    position: relative;
  }
}

@media (max-width: 184px) {
  .game {
    grid-template-columns: 1.5rem 1.5rem 1.5rem;
    grid-template-rows: 1.5rem 1.5rem 1.5rem;
  }
}
