* {
  font-family: 'Righteous', cursive;
}


html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  background-image: url("./assets/mario-luigi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.player-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.icon {
  height: 6rem;
  width: 6rem;
}

.player-one-score, .player-two-score {
  background-color: #D96067;
  border-radius: 1rem;
  padding: 4rem;
}


h1, .players-turn {
  color: #FFFFFF;
}


.space {
  background-color: #DC7179;
}


#player-one,
#player-two {
  /* padding: 1rem; */
}

h1 {
  text-shadow: 8px 10px 12px #DA8A97;
}

.title-and-msg-box {
  border: .5rem solid #D96067;
  background-color: #DA8A97;
  padding: 1rem;
  border-radius: 2rem;

}

.title {
  text-shadow: 15px 15px 25px #DC7179;
  font-size: 5rem;
}

.game-msg {
  display: flex;
  justify-content: center;
  align-items: center;
}


.players-turn {
  position: absolute;
  margin-top: -3rem;
  margin-right: 3rem;
  text-align: center;
}

.game {
  display: grid;
  justify-content: center;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: 90px 90px 90px;
  padding: 5rem;
}


.space {
  display: grid;
  align-items: center;
  justify-items: center;
  border-top: .25rem solid #DA8A97;
  border-bottom: .25rem solid #DA8A97;
  border-left: .25rem solid #DA8A97;
  border-right: .25rem solid #DA8A97;
  opacity: 0.8;
}

@media (max-width: 375px) {
  html {
    overflow: hidden;
  }
  
  body {
    background-size: cover;
    height: 100vh;
  }

  .game {
    grid-template-columns: 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem;
    margin-top: 2rem;
  }

  .title-and-msg-box {
    display: flex;
    border: .25rem solid #D96067;
    border-radius: 2rem;
  }

  .title {
    font-size: small;
  }

  .game-msg {
   /* text-align: center; */

  }

  .icon {
    height: 4rem;
    width: 4rem;
  }

  .players-turn {
    margin-top: 14rem;
    margin-right: 5rem;
    border: .25rem solid #D96067;
    border-radius: 2rem;
    background-color: #DA8A97;
    padding: .5rem;
    /* font-size: 1rem;
    text-align: center;
    padding: .5rem; */
  }

  .player-one-score, .player-two-score {
    padding: 2rem;
    /* height: 3rem;
    width: 3rem; */
  }
}